server:
  port: 8081
spring:
  application:
    name: Bank Cards
  datasource:
    username: postgres
    url: jdbc:postgresql://localhost:5432/postgres
    password: root123
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    hibernate:
      ddl-auto: update
    show-sql: true

